@page
@model Portal.Web.Areas.Admin.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "نمایش";
}


<div>
 
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Rating)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">ویرایش</a> |
    <a asp-page="./Index">برگشت به لیست</a>
</div>
